*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #D6CAFF;
  font-size: 24px;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.shadowed {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 48px;
}

.row {
  display: flex;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  position: relative;
}

.background__front {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
    margin: 0 auto;
  }
}
.hero {
  position: relative;
}
.hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.hero__logo {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 30px;
}
.hero__bottom-text {
  max-width: 495px;
  text-align: center;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 60px;
  box-shadow: 0 0 20px 10px rgba(255, 247, 245, 0.5);
}
.hero .box__btn {
  text-align: center;
}
.hero .to-bottom {
  width: 44px;
  height: 44px;
  font-size: 48px;
  color: #0a0a0a;
  background-color: #fff;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  transform: rotate(90deg);
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 10px rgba(255, 247, 245, 0.5);
}

.instructions {
  position: relative;
  z-index: 2;
}
.instructions__text-box {
  width: 680px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0 0 20px 10px rgba(255, 247, 245, 0.5);
}

.background__front-blot {
  position: absolute;
  z-index: 2;
}
.background__front-blot_1 {
  left: -20%;
  top: 25vh;
  animation-duration: 10s;
  animation-name: anima-front_1;
}
.background__front-blot_2 {
  right: -100vh;
  top: -100vh;
  animation-duration: 10s;
  animation-name: anima-front_2;
}
.background__front-blot_3 {
  right: -60wv;
  top: -150vh;
  animation-duration: 10s;
  animation-name: anima-front_3;
}
.background__front-blot_4 {
  left: 20%;
  top: 60vh;
}
.background__front-blot_6 {
  left: -30vw;
  top: -45vh;
}
.background__front-blot_7 {
  right: -40vw;
  top: 70vh;
  z-index: 2;
}
.background__front-blot_8 {
  right: 0;
  top: 40vh;
  z-index: 1;
}
.background__front-blot_9 {
  left: 15vw;
  top: 0;
}

@keyframes anima-front_1 {
  0% {
    left: -20%;
    top: 25vh;
  }
  50% {
    left: 80vw;
    top: 50vh;
  }
  100% {
    left: -20%;
    top: 25vh;
  }
}
@keyframes anima-front_2 {
  0% {
    right: -100vh;
    top: -100vh;
  }
  50% {
    right: 70vh;
    top: 50vh;
  }
  100% {
    right: -100vh;
    top: -100vh;
  }
}
@keyframes anima-front_3 {
  0% {
    right: -60wv;
    top: -150vh;
  }
  50% {
    right: -100wv;
    top: 90vh;
  }
  100% {
    right: -60wv;
    top: -150vh;
  }
}/*# sourceMappingURL=style.css.map */