.instructions{

    &__text-box{
        width: 680px;
        text-align: center;
        background-color: #fff;
        border-radius: 30px;
        padding: 10px 20px;
        box-shadow: 0 0 20px 10px rgb(255 247 245 / 50%);
    }
}